<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kunlun.api.mapper.LogMapper">

    <!--创建订单日志-->
    <insert id="addOrderLog" parameterType="com.kunlun.entity.OrderLog">
        INSERT INTO t_order_log(order_no,action,ip_address,create_date,order_id)
        VALUES (#{orderNo},#{action},#{ipAddress},NOW(),#{orderId})
    </insert>


    <!--根据订单id查询订单日志列表-->
    <select id="findByOrderId" resultType="com.kunlun.entity.OrderLog">
        SELECT id,order_no,action,ip_address,create_date,order_id FROM t_order_log WHERE order_id=#{orderId}
    </select>


    <!--根据openid查询积分日志列表-->
    <select id="findPointLogByOpenId" resultType="com.kunlun.entity.PointLog">
        SELECT id,user_id,action,current_point,operate_point,create_date FROM t_point_log WHERE user_id=#{openid}
    </select>

    <!--创建商品日志-->
    <insert id="addGoodLog" parameterType="com.kunlun.entity.GoodLog">
        INSERT INTO t_good_log(
        good_id,
        good_name,
        action,
        create_date
        ) VALUES (
        #{goodId},
        #{goodName},
        #{action},
        now()
        )
    </insert>

    <!--批量创建商品日志-->
    <insert id="addGoodLogList" parameterType="com.kunlun.entity.GoodLog">
        INSERT INTO t_good_log(
        good_id,
        good_name,
        action,
        create_date
        )
        <foreach collection="goodLogList" index="index" item="item">
            VALUES (
            #{item.goodId},
            #{item.goodName},
            #{item.action},
            now() )
        </foreach>
    </insert>

    <!--创建积分日志-->
    <insert id="addPointLog" parameterType="com.kunlun.entity.PointLog">
        INSERT INTO t_point_log(
        user_id,
        action,
        current_point,
        operate_point,
        create_date)
        VALUES (
        #{userId},
        #{action},
        #{currentPoint},
        #{operatePoint},
        now())
    </insert>
    <!--批量创建积分日志-->
    <insert id="addPointLogList" parameterType="com.kunlun.entity.PointLog">
        INSERT INTO t_point_log(
        user_id,
        action,
        current_point,
        operate_point,
        create_date)
        <foreach collection="pointLogList" item="item" index="index">
            VALUES (
            #{item.userId},
            #{item.action},
            #{item.currentPoint},
            #{item.operatePoint},
            now())
        </foreach>
    </insert>

    <!--生成发货日志-->
    <insert id="addLogisticLog" parameterType="com.kunlun.entity.Logistics">
        INSERT INTO t_logistics(
        order_id,
        sender_id,
        logistic_name,
        express_no,
        logistic_no,
        company_code,
        create_date,
        update_date
        ) VALUES (
        #{orderId},
        #{senderId},
        #{logisticName},
        #{expressNo},
        #{logisticNo},
        #{companyCode},
        NOW(),
        NOW()
        )
    </insert>
</mapper>